body {
    background-color: burlywood;
}

body {
    font-family: "Comic Sans MS";
    color: darkgoldenrod;
}

h1 {
    font-family: "Andale Mono";
    color: aquamarine;
}

h3 {
    font-family: "Apple Chancery";
    color: coral;
    background-color: beige;
}

img {
    border: 5px solid blueviolet;
}

li {
    color: chocolate;
}

.correct {
    color: coral;
    background-color: aquamarine;
    border: .5em solid black;
    visibility: hidden;
}

.vis {
    visibility: visible;
}


