body {
    background-color: burlywood;
}

body {
    font-family: "Comic Sans MS";
    color: darkgoldenrod;
}

h1 {
    font-family: "Andale Mono";
    color: aquamarine;
}

h3 {
    font-family: "Apple Chancery";
    color: coral;
}

img {
    border: 5px solid blueviolet;
}

p {
    color: coral;
    background-color: aquamarine;
    border: 5px solid black;
    visibility: hidden;
}

a {
    font: large bold;
}

li {
    color: chocolate;
}

.background {
    background-color: beige;
}

